.card {
    height: 60vh;
    text-align: center;
    font-size: 2rem;
    width: 55vh;
    margin-left: 2vh;
    border-radius: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
  }

  .descricao{
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
